.characterText{
    -fx-font-size: 30px;
    -fx-font-family: impact;
    -fx-fill: #fefefe;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.bg {
    -fx-background-image: url("/img/coast_1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

.fg {
    -fx-background-image: url("/img/characterSelectionBg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}


.remove {
    -fx-background-color: #F15A3A;
}

.remove:hover {
    -fx-background-color: #FF1000;
    -fx-cursor: hand;
}

.select {
    -fx-cursor: hand;
}

.playBtn {
    -fx-image: url("/img/btnPlayC.png");
    -fx-cursor: hand;
}

.playBtn:hover{
    -fx-image: url("/img/btnPlayH.png");
}

.startBtn {
    -fx-image: url("/img/btnStartC.png");
    -fx-cursor: hand;
}

.startBtn:hover{
    -fx-image: url("/img/btnStartH.png");
}

.backBtn {
    -fx-image: url("/img/btnBack.png");
    -fx-cursor: hand;
}

.backBtn:hover {
    -fx-image: url("/img/btnBackH.png");
}
.zurueckBtn {
    -fx-image: url("/img/btnZurueck.png");
    -fx-cursor: hand;
}

.zurueckBtn:hover {
    -fx-image: url("/img/btnZurueckH.png");
}

.selectText {
    -fx-font-size: 50px;
    -fx-font-family: impact;
    -fx-fill: #fefefe;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.editText {
    -fx-font-size: 20px;
    -fx-font-family: impact;
}

.editImg {
    -fx-image: url("/img/pencil.png");
    -fx-cursor: hand;
}
.editImg:hover {
    -fx-image: url("/img/pencil_hover.png");
}

.editImgCheck {
    -fx-image: url("/img/check.png");
    -fx-cursor: hand;
}
.editImgCheck:hover {
    -fx-image: url("/img/check_hover.png");
}

.ai {
    -fx-image: url("/img/ai.png");
    -fx-cursor: hand;
}
.ai:hover {
    -fx-image: url("/img/ai_hover.png");
}

.human {
    -fx-image: url("/img/human.png");
    -fx-cursor: hand;
}
.human:hover {
    -fx-image: url("/img/human_hover.png");
}

.turnTimeLabel {
    -fx-font-size: 20px;
    -fx-font-family: impact;
    -fx-fill: #fefefe;
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
}

