.field{
    -fx-background-image: url("/img/coast_1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}
.buttonL {
    -fx-image: url("/img/ButtonLayoutLeft.png");
    -fx-cursor: hand;
}
.buttonL:hover{
    }
.buttonR {
    -fx-image: url("/img/btnOnline.png");
    -fx-cursor: hand;
}
.buttonR:hover{
    -fx-image: url("/img/btnOnlineHover.png");
}
.paneButton{
    -fx-background-color: aqua;
    -fx-max-width: 500px;
    -fx-max-height: 500px;
    -fx-shape: "M 0 0 h 500 l -300 100 H 0 Z";
    -fx-overflow: hidden;
}

