.field{
    -fx-background-image: url("/img/coast_3.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

.default-color0.chart-pie {
    -fx-pie-color: lawngreen;
}
.default-color1.chart-pie {
    -fx-pie-color: red;
}

